	
<div class="row-fluid">
	<div class="row-fuid">
		<ul class="thumbnails">
			<li class="span3">
				<a href="/fichas" class="thumbnail inner-border">Fichas A
					<span></span>
					<%= image_tag "familia.jpg", size: "200x200" %>
				</a>
			</li>
			<li class="span3">
				<a href="/pessoas" class="thumbnail inner-border">Pessoas
					<span></span>
					<%= image_tag "pessoa.jpeg", size: "200x200" %>
				</a>
			</li>
			<li class="span3">
				<a href="/doencas" class="thumbnail inner-border">Doenças
					<span></span>
					<%= image_tag "tub1.png", size: "200x200" %>
				</a>
			</li>
			<li class="span3">
				<a href="/hiperdia" class="thumbnail inner-border">Hiperdia
					<span></span>
					<%= image_tag "hiperdia2.png", size: "200x200" %>
				</a>
			</li>
		</ul>
	</div>
	<div class="row-fuid">
		<ul class="thumbnails">
			<li class="span3">
				<a href="/ocupacaos" class="thumbnail inner-border">Ocupações
					<span></span>
					<%= image_tag "pr.jpg", size: "200x200" %>
				</a>
			</li>
			<li class="span3">
				<a href="/grupo_comunitarios" class="thumbnail inner-border">Grupos Comunitários
					<span></span>
					<%= image_tag "grupos.jpg", size: "200x200" %>
				</a>
			</li>
			<li class="span3">
				<a href="/comunicacaos" class="thumbnail inner-border">Meios de Comunicação
					<span></span>
					<%= image_tag "comunica.jpeg", size: "200x200" %>
				</a>
			</li>
			<li class="span3">
				<a href="/transportes" class="thumbnail inner-border">Trasportes
					<span></span>
					<%= image_tag "transportes.jpeg", size: "200x200" %>
				</a>
			</li>

		</ul>
		<hr>
	</div>
	<br><br>
