<br>
	<div class="row-fluid">
		<div class="span3">
			<%= image_tag "hd1.png" %>
		</div>
		<div class="span6"><br><br><br>
			<h1 align="center">Posto de Saúde</h1>
			<br><br>
		</div>
		<div class="span3"><br>
		</div>
	</div>
	<hr>
	<div class="row-fluid">
		<div class="row-fuid">
			<ul class="thumbnails">
			<li class="span4">
				<a href="/pessoas" class="thumbnail inner-border">Pessoa
					<span></span>
					<%= image_tag "pessoa.jpeg" %>
				</a>
			</li>
			<li class="span4">
				<a href="/fichas" class="thumbnail inner-border">Ficha A
					<span></span>
					<%= image_tag "familia.jpg" %>
				</a>
			</li>
			<li class="span4">
				<a href="gestantes" class="thumbnail inner-border">Gestantes
					<span></span>
					<%= image_tag "gest.jpg" %>
				</a>
			</li>
		</ul>
		</div>
		<div class="row-fuid">
			<ul class="thumbnails">
			<li class="span4">
				<a href="tuberculoses" class="thumbnail inner-border">Tuberculose
					<span></span>
					<%= image_tag "tub1.png" %>
				</a>
			</li>
			<li class="span4">
				<a href="hiperdia" class="thumbnail inner-border">Hipertensão e Diabetes
					<span></span>
					<%= image_tag "hiperdia.png" %>
				</a>
			</li>
			<li class="span4">
				<a href="acs" class="thumbnail inner-border">Agente Comunitário de Saúde
					<span></span>
					<%= image_tag "acs.jpeg" %>
				</a>
			</li>
		</ul>
		</div>
