<%= form_for(@hiperdium) do |f| %>
  <% if @hiperdium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hiperdium.errors.count, "error") %> prohibited this hiperdium from being saved:</h2>

      <ul>
      <% @hiperdium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unidade %><br>
    <%= f.text_field :unidade %>
  </div>
  <div class="field">
    <%= f.label :ano %><br>
    <%= f.number_field :ano %>
  </div>
  <div class="field">
    <%= f.label :fumante %><br>
    <%= f.text_field :fumante %>
  </div>
  <div class="field">
    <%= f.label :visita_acs %><br>
    <%= f.date_select :visita_acs %>
  </div>
  <div class="field">
    <%= f.label :dieta %><br>
    <%= f.text_field :dieta %>
  </div>
  <div class="field">
    <%= f.label :medicacao %><br>
    <%= f.text_field :medicacao %>
  </div>
  <div class="field">
    <%= f.label :exercicios %><br>
    <%= f.text_field :exercicios %>
  </div>
  <div class="field">
    <%= f.label :pressao_arterial %><br>
    <%= f.text_field :pressao_arterial %>
  </div>
  <div class="field">
    <%= f.label :ultima_consulta %><br>
    <%= f.date_select :ultima_consulta %>
  </div>
  <div class="field">
    <%= f.label :mes %><br>
    <%= f.text_field :mes %>
  </div>
  <div class="field">
    <%= f.label :observacao %><br>
    <%= f.text_area :observacao %>
  </div>
  <div class="field">
    <%= f.label :pessoa %><br>
    <%= f.text_field :pessoa %>
  </div>
  <div class="row">
    <div class="span1 actions">
     <%= f.submit "Salvar", :class => 'btn btn-primary' %>
  </div>
<% end %>
