<h1>Listing hiperdia</h1>
<b>Doenças Cadastradas: <%= @doencas.count %></b>
<table id="hiperdia" class="table table-bordered table-hover display">
  <thead>
    <tr>
      <th>Unidade</th>
      <th>Ano</th>
      <th>Fumante</th>
      <th>Mes</th>
      <th>Pessoa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hiperdia.each do |hiperdium| %>
      <tr>
        <td><%= hiperdium.unidade %></td>
        <td><%= hiperdium.ano %></td>
        <td><%= hiperdium.pessoa.nome %></td>
        <td><%= link_to 'Show', hiperdium, :class => 'btn btn-mini btn-info'  %></td>
        <td><%= link_to 'Edit', edit_hiperdium_path(hiperdium), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', hiperdium, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hiperdium', new_hiperdium_path, :class => 'btn btn-primary' %>
