<p id="notice"><%= notice %></p>

<p>
  <strong>Numero da familia:</strong>
  <%= @hiperdium.numero_da_familia %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @hiperdium.ano %>
</p>

<p>
  <strong>Fumante:</strong>
  <%= @hiperdium.fumante %>
</p>

<p>
  <strong>Data da visita:</strong>
  <%= @hiperdium.data_da_visita %>
</p>

<p>
  <strong>Dieta:</strong>
  <%= @hiperdium.dieta %>
</p>

<p>
  <strong>Toma medicacao:</strong>
  <%= @hiperdium.toma_medicacao %>
</p>

<p>
  <strong>Exercicios fisicos:</strong>
  <%= @hiperdium.exercicios_fisicos %>
</p>

<p>
  <strong>Pa:</strong>
  <%= @hiperdium.pa %>
</p>

<p>
  <strong>Licemia:</strong>
  <%= @hiperdium.licemia %>
</p>

<p>
  <strong>Insulina:</strong>
  <%= @hiperdium.insulina %>
</p>

<p>
  <strong>Hipoglicemiante oral:</strong>
  <%= @hiperdium.hipoglicemiante_oral %>
</p>

<p>
  <strong>Data da ultima consulta:</strong>
  <%= @hiperdium.data_da_ultima_consulta %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @hiperdium.obs %>
</p>

<%= link_to 'Edit', edit_hiperdium_path(@hiperdium) %> |
<%= link_to 'Back', hiperdia_path %>
