<p id="notice"><%= notice %></p>

<p>
  <strong>Unidade:</strong>
  <%= @hiperdium.unidade %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @hiperdium.ano %>
</p>

<p>
  <strong>Fumante:</strong>
  <%= @hiperdium.fumante %>
</p>

<p>
  <strong>Visita acs:</strong>
  <%= @hiperdium.visita_acs %>
</p>

<p>
  <strong>Dieta:</strong>
  <%= @hiperdium.dieta %>
</p>

<p>
  <strong>Medicacao:</strong>
  <%= @hiperdium.medicacao %>
</p>

<p>
  <strong>Exercicios:</strong>
  <%= @hiperdium.exercicios %>
</p>

<p>
  <strong>Pressao arterial:</strong>
  <%= @hiperdium.pressao_arterial %>
</p>

<p>
  <strong>Ultima consulta:</strong>
  <%= @hiperdium.ultima_consulta %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @hiperdium.mes %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @hiperdium.observacao %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @hiperdium.pessoa %>
</p>

<%= link_to 'Alterar', edit_hiperdium_path(@hiperdium), :class => 'btn btn-primary' %> |
<%= link_to 'Voltar', hiperdia_path, :class => 'btn btn-primary' %>
