<h1>Pessoas</h1>
<b>Total de Pessoas: <%= @pessoas.count %></b>
<table id="pessoas" class="table table-bordered table-hover display">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data nascimento</th>
      <th>Sexo</th>
      <th>Ocupacao</th>
      <th>Ficha</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas.each do |pessoa| %>
    <tr>
      <td class="span5"><%= pessoa.nome %></td>
      <td><%= pessoa.data_nascimento %></td>
      <td><%= pessoa.sexo %></td>
      <td><%= pessoa.ocupacao.nome %></td>
      <td><%= pessoa.ficha.numero %></td>
      <td><%= link_to 'Exibir', pessoa, :class => 'btn btn-mini btn-info' %></td>
      <td><%= link_to 'Alterar', edit_pessoa_path(pessoa), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Excluir', pessoa, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo', new_pessoa_path, :class => 'btn btn-primary' %>
<%= link_to 'Voltar', root_path, :class => 'btn btn-primary' %>