<p id="notice"><%= notice %></p>

<p>
  <strong>Ano:</strong>
  <%= @gestante.ano %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @gestante.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @gestante.endereco %>
</p>

<p>
  <strong>Ultima regra:</strong>
  <%= @gestante.ultima_regra %>
</p>

<p>
  <strong>Parto:</strong>
  <%= @gestante.parto %>
</p>

<p>
  <strong>Vacina1:</strong>
  <%= @gestante.vacina1 %>
</p>

<p>
  <strong>Vacina2:</strong>
  <%= @gestante.vacina2 %>
</p>

<p>
  <strong>Vacina3:</strong>
  <%= @gestante.vacina3 %>
</p>

<p>
  <strong>Vacinar:</strong>
  <%= @gestante.vacinaR %>
</p>

<p>
  <strong>Puerperio1:</strong>
  <%= @gestante.puerperio1 %>
</p>

<p>
  <strong>Puerperio2:</strong>
  <%= @gestante.puerperio2 %>
</p>

<%= link_to 'Edit', edit_gestante_path(@gestante) %> |
<%= link_to 'Back', gestantes_path %>
