<%= form_for(@ficha) do |f| %>
<% if @ficha.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@ficha.errors.count, "error") %> prohibited this ficha from being saved:</h2>

  <ul>
    <% @ficha.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<hr>
<div class="row">
  <div class="span5 field">
    <%= f.label :endereco %>
    <%= f.text_field :endereco,  :class => 'span5' %>
  </div>
  <div class="span1 field">
    <%= f.label :numero %>
    <%= f.text_field :numero,  :class => 'span1' %>
  </div>
  <div class="span2 field">
    <%= f.label :bairro %>
    <%= f.text_field :bairro,  :class => 'span2' %>
  </div>
  <div class="span2 field">
    <%= f.label :cep %>
    <%= f.text_field :cep,  :class => 'span2' %>
  </div>
  <div class="span2 field">
    <%= f.label :municipio %>
    <%= f.text_field :municipio,  :class => 'span2' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="span2 field">
    <%= f.label :segmento %>
    <%= f.number_field :segmento,  :class => 'span1' %>
  </div>
  <div class="span2 field">
    <%= f.label :area %>
    <%= f.number_field :area,  :class => 'span1' %>
  </div>
  <div class="span2 field">
    <%= f.label :micro_area %>
    <%= f.number_field :micro_area,  :class => 'span1' %>
  </div>
  <div class="span2 field">
    <%= f.label :ficha %>
    <%= f.number_field :ficha,  :class => 'span1' %>
  </div>
</div>
<div class="row">
  <div class="span12 field">
    <%= f.label :data %>
    <%= f.date_select :data, :class => "input-mini" %>
  </div>
</div>
<hr>
<div class="row">
  <div class="span3 field">
    <%= f.label :tipo_casa %>
    <%= f.select :tipo_casa, (["", "Palafita", "Barraco", "Pau a pique", "Alvenaria", "Casa", "Condomínio","Predio"]),  :class => 'span3' %>
  </div>
  <div class="span1 field">
    <%= f.label :comodos %>
    <%= f.number_field :comodos,  :class => 'span1' %>
  </div>
  <div class="span3 field">
    <%= f.label :energia_eletrica %>
    <%= f.select :energia_eletrica, (["", "Sim", "Não"]),  :class => 'span1' %>
  </div>
  <div class="span5 field">
    <%= f.label :destino_lixo %>
    <%= f.text_field :destino_lixo,  :class => 'span3' %>
  </div>
</div>
  <div class="row">
    <div class="span3 field">
      <%= f.label :tratamento_agua %>
      <%= f.select :tratamento_agua, (["", "Sim", "Não"]),  :class => 'span1' %>
    </div>
    <div class="span3 field">
      <%= f.label :abastecimento_agua %>
      <%= f.select :abastecimento_agua, (["", "Sim", "Não"]),  :class => 'span1' %>
    </div>
    <div class="span3 field">
      <%= f.label :destino_fezes %>
      <%= f.text_field :destino_fezes,  :class => 'span1' %>
    </div>
  </div>

<hr>
<div class="row">
  <div class="span1 actions">
   <%= f.submit "Salvar", :class => 'btn btn-primary' %>
 </div>
 <% end %>
