<h1>Listar fichas</h1>
<hr>
<div class="row">
<div class="span1">
<%= link_to 'Novo', new_ficha_path, :class=>"btn btn-primary" %>
</div>
<div class="span5">
<%= link_to 'Voltar', fichas_path, :class=>"btn btn-primary" %>
</div>
</div>
<table class="table table-bodered table-hover display">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Endereco</th>
      <th>Numero</th>
      <th>Bairro</th>
      <th>Segmento</th>
      <th>Area</th>
      <th>Data</th>
      <th>Microarea</th>
      <th>_______</th>
      <th>_______</th>
      <th>_______</th>
    </tr>
  </thead>

  <tbody>
    <% @fichas.each do |ficha| %>
      <tr>
        <td><%= ficha.id %></td>
        <td><%= ficha.endereco %></td>
        <td><%= ficha.numero %></td>
        <td><%= ficha.bairro %></td>
        <td><%= ficha.segmento %></td>
        <td><%= ficha.area %></td>
        <td><%= ficha.microarea %></td>
        <td><%= ficha.data %></td>
        <td><%= link_to 'Mostrar', ficha %></td>
        <td><%= link_to 'Editar', edit_ficha_path(ficha) %></td>
        <td><%= link_to 'Destruir', ficha, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

