<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span5 field">
    <p>
      <strong>Endereco:</strong><br>
      <%= @ficha.endereco %>
    </p>
  </div>
  <div class="span1 field">
   <p>
    <strong>Numero:</strong><br>
    <%= @ficha.numero %>
  </p>
</div>
<div class="span2 field">
 <p>
  <strong>Bairro:</strong><br>
  <%= @ficha.bairro %>
</p>
</div>
<div class="span1 field">
 <p>
  <strong>Cep:</strong><br>
  <%= @ficha.cep %>
</p>
</div>
<div class="span2 field">
  <p>
    <strong>Municipio:</strong><br>
    <%= @ficha.municipio %>
  </p>
</div>
</div>
<hr>
<div class="row">
  <div class="span2 field">
    <p>
      <strong>Segmento:</strong><br>
      <%= @ficha.segmento %>
    </p>
  </div>
  <div class="span2 field">
   <p>
    <strong>Area:</strong><br>
    <%= @ficha.area %>
  </p>
</div>
<div class="span2 field">
  <p>
    <strong>Micro area:</strong><br>
    <%= @ficha.micro_area %>
  </p>

</div>
<div class="span2 field">
  <p>
    <strong>Ficha:</strong><br>
    <%= @ficha.ficha %>
  </p>
</div>
</div>
<div class="row">
  <div class="span12 field">

    <p>
      <strong>Data:</strong><br>
      <%= @ficha.data %>
    </p>

  </div>
</div>
<hr>
<div class="row">
  <div class="span3 field">
   <p>
    <strong>Tipo casa:</strong><br>
    <%= @ficha.tipo_casa %>
  </p>

</div>
<div class="span1 field">
 <p>
  <strong>Comodos:</strong><br>
  <%= @ficha.comodos %>
</p>

</div>
<div class="span3 field">
  <p>
    <strong>Energia eletrica:</strong><br>
    <%= @ficha.energia_eletrica %>
  </p>
</div>
<div class="span5 field">
  <p>
    <strong>Destino lixo:</strong><br>
    <%= @ficha.destino_lixo %>
  </p>
</div>
</div>
<div class="row">
  <div class="span3 field">

    <p>
      <strong>Tratamento agua:</strong><br>
      <%= @ficha.tratamento_agua %>
    </p>

  </div>
  <div class="span3 field">

    <p>
      <strong>Abastecimento agua:</strong><br>
      <%= @ficha.abastecimento_agua %>
    </p>
  </div>
  <div class="span3 field">
    <p>
      <strong>Destino fezes:</strong><br>
      <%= @ficha.destino_fezes %>
    </p>
  </div>
</div>
<div class="row">
<div class="span12 field">
  <p>
    <strong>Total de Pessoas na Família:</strong><br>
    <%= @ficha.pessoas.count %></b>
  </p>
</div>
</div>
<p>
  <% for pessoa in Pessoa.find(:all) %>
  <%= pessoa.nome %>
  <% end %>
</p>

<%= link_to 'Alterar', edit_ficha_path(@ficha), :class => 'btn btn-primary' %> |
<%= link_to 'Voltar', fichas_path, :class => 'btn btn-primary' %>
