<%= form_for(@ac) do |f| %>
  <% if @ac.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ac.errors.count, "error") %> prohibited this ac from being saved:</h2>

      <ul>
      <% @ac.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :sinan %><br>
    <%= f.number_field :sinan %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :idade %><br>
    <%= f.number_field :idade %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.text_field :sexo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
