<p id="notice"><%= notice %></p>

<p>
  <strong>Nv:</strong>
  <%= @resultado_gestacao.nv %>
</p>

<p>
  <strong>Nm:</strong>
  <%= @resultado_gestacao.nm %>
</p>

<p>
  <strong>Ab:</strong>
  <%= @resultado_gestacao.ab %>
</p>

<%= link_to 'Edit', edit_resultado_gestacao_path(@resultado_gestacao) %> |
<%= link_to 'Back', resultado_gestacaos_path %>
